# Ignore Kaggle API key
kaggle/kaggle.json

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
__pycache__/

SNOWFLAKE_USER=yashy
SNOWFLAKE_PASSWORD=YashYadav@2221
KAGGLE_USERNAME=yyashy
KAGGLE_KEY=cc028953d02bac068060ebcdb6dd203b
.env
